# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Environment variables
.env
.env.*

# AWS
.aws/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Lambda ZIPs (build artifacts)
*.zip
